// you can change colors here
$theme-color: #2d85e9;
$content-width: 885px;

:root {
  --docsearch-modal-width: 860px !important;
  --docsearch-modal-height: 600px !important;
  --content-width: 780px !important;
}